{% extends 'blog/base.html' %}
{% load blog_tags %}
{% block title %}{{ post.title }}{% endblock %}
{% block content %}
    <div class="container mt-3">
        <section>
            <h2 class="h1 text-center my-4">{{ post.title }}</h2>
        </section>

{#    <p class="tags">{{ post.tags.all|join:", " }}</p>#}
    <p class="tags">
        Теги:
        {% for tag in post.tags.all %}
            <a href="{% url 'blog:post_list_by_tag' tag.slug %}">{{ tag.name }}</a>
        {% endfor %}
    </p>
    <p class="date">Опубликовано {{ post.publish }}, автор: {{ post.author|title }}</p>
    <div class="bg-image hover-overlay ripple shadow-1-strong rounded-5 ripple-surface">
                        <img src="{{ post.image.url }}" alt="" class="img-fluid">
                        <a href="#">
                        <div class="mask" style="
                                            background: linear-gradient(
                                            45deg,
                                            rgba(29, 236, 197, 0.5),
                                            rgba(91, 14, 214, 0.5) 100%);">
                        </div>
                        </a>
                    </div>`
    {{ post.body|markdown }}
{#    <p>#}
{#        <a href="{% url 'blog:post_share' post.id %}">Share this post</a>#}
{#    </p>#}

    <h2>Похожие статьи: </h2>
    <div class="similar-posts">
        {% for similar_post in similar_posts %}
            <a href="{{ similar_post.get_absolute_url }}">{{ similar_post.title }}</a>
        {% endfor %}
    </div>

    {% with comments.count as total_comments %}
        <h2>{{ total_comments }} {{ total_comments|rupluralize:'комментарий,комментария,комментариев' }}</h2>
    {% endwith %}

    {% for comment in comments %}
        <div class="comment">
            <p class="info">
                Комментарий {{ forloop.counter }} от {{ comment.name }}
                {{ comment.created }}
            </p>
            {{ comment.body }}
        </div>
    {% empty %}
        <p>Никто не поделился своим мнением!</p>
    {% endfor %}

    {% if new_comment %}
        <h2>Ваш комментарий добавлен.</h2>
    {% else %}
        <h2>Добавить новый комментарий</h2>
        <div class="col-lg-8 col-md-10">
            <form action="." method="post">
            {{ comment_form }}
            {% csrf_token %}
            <p><button class="btn btn-primary ripple-surface" type="submit">Добавить комментарий</button></p>
        </form>
        </div>
    {% endif %}


    </div>
{% endblock %}