{% extends 'blog/base.html' %}
{% load blog_tags %}
{% load static %}
{% block title %}My blog{% endblock %}
{% block content %}
    <div class="container">
        <selection>
            {% if tag %}
                <h2 class="h1 text-center my-4">Статьи по тэгу "{{ tag.name }}":</h2>
            {% else %}
                <h2 class="h1 text-center my-4">Все статьи:</h2>
            {% endif %}
        </selection>


            {% for post in posts %}
                <div class="row">
                    <div>
                        <h2>
                            <a href="{{ post.get_absolute_url }}">{{ post.title }}</a>
                        </h2>
                        <p class="tags">
                            #:
                            {% for tag in post.tags.all %}
                                <a href="{% url 'blog:post_list_by_tag' tag.slug %}">{{ tag.name }}</a>
                            {% endfor %}
                        </p>
                        <p class="date">Published {{ post.publish }} by {{ post.author }}</p>
                    </div>
                    <div class="bg-image hover-overlay ripple shadow-1-strong rounded-5 ripple-surface">
                        <img src="{{ post.image.url }}" alt="" class="img-fluid">
                        <a href="#">
                        <div class="mask" style="
                                            background: linear-gradient(
                                            45deg,
                                            rgba(29, 236, 197, 0.5),
                                            rgba(91, 14, 214, 0.5) 100%);">

                        </div>
                        </a>
                    </div>`
                        {{ post.body|markdown|truncatewords_html:30 }}
                </div>
            {% endfor %}
            {% include 'blog/pagination.html' with page=posts %}
        </div>
{#    при использовании ListViews #}
{#    {% include 'blog/pagination.html' with page=page_obj %}#}
{% endblock %}